@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.home{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:8rem;
    padding-inline: 10vw;
    background-color: rgba(57, 172, 178, 0.7);
    &__card{
        background-image: url(../../assets/images/white-paper-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 2rem;
        border: none;
        border-radius: 0.5rem;
        height: 32rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        @include mobile{
            height: 40rem;
            margin-top: 0;
        }


    }
    &__title{
        font-size: 3rem;
        font-weight: 700;
        color: $primary-black;
        @include mobile{
            font-size: 1.5rem;
        }
    }
    &__select-options{
        width: 60vw;
        height: 3.25rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding-inline: .75rem;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 3rem 0;
        color: $primary-black;
        font-family: 'Roboto Mono', monospace;
        @include mobile{
            flex-direction: column;
            height: 18rem;
        }
    }
    &__select{
        max-width: 23rem;
        height: 8rem;
        border: 1px solid #000;
        border-radius: 0.5rem;
        padding-inline: .75rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: #000;
        background-color: #fff;
        outline: none;
        cursor: pointer;
        &:focus{
            border: 2px solid #000;
        }
    }
    &__link{
        background-color: $primary-grey;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        width: 25vw;
        height: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-black;
        margin-top: 2rem;
        &:hover{
            background-color: $primary-black;
            color: $primary-grey;
        }
        &-disabled{
            font-size: 1.5rem;
            font-weight: 700;
            color: $primary-black;
        }
    }

}