.header{
    height : 1rem;
    width : 100vw;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content : flex-start;
    align-content : flex-start;
    position: relative;
    &__logo{
        height : 10rem;
        width : 10rem;
        display : flex;
        justify-content : center;
        align-items : center;
        &-image{
            height : 100%;
            width : 100%;
        }
    }
    &__title{
        font-size : 4rem;
        font-weight : 700;
    }
    }


